<div class="recipe-show-ingredients-column">
  <h3 class="recipe-show-ingredients-column__title">
    <%= t("recipes.show.available_ingredients_title") %>
  </h3>

  <ul class="recipe-show-ingredients-list">
    <% @recipe_presenter.available_ingredients.each do |ingredient_data| %>
      <% recipe_ingredient = ingredient_data[:recipe_ingredient]
         pantry_item = ingredient_data[:pantry_item] %>

      <li class="recipe-show-ingredient-item recipe-show-ingredient-item--available">
        <span class="recipe-show-ingredient-item__icon">✅</span>

        <div class="recipe-show-ingredient-item__content">
          <div class="recipe-show-ingredient-item__name">
            <strong><%= recipe_ingredient.ingredient.name %></strong>
          </div>

          <div class="recipe-show-ingredient-item__details">
            <%= t("recipes.show.recipe_requires", quantity: @recipe_presenter.format_ingredient_quantity(recipe_ingredient)) %>

            <% if pantry_item %>
              <span class="recipe-show-ingredient-item__separator"> • </span>
              <%= t("recipes.show.your_pantry_has", quantity: @recipe_presenter.format_pantry_quantity(pantry_item)) %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>

    <% if @recipe_presenter.no_available_ingredients? %>
      <li class="recipe-show-ingredient-item recipe-show-ingredient-item--empty">
        <%= t("recipes.show.no_available_ingredients") %>
      </li>
    <% end %>
  </ul>
</div>
