<div class="recipes-header">
  <div class="recipes-header__top">
    <h1 class="recipes-header__title"><%= t(".title") %></h1>
    <%= link_to t(".back_to_pantry"), pantry_items_path, class: "btn btn-secondary recipes-header__back" %>
  </div>

  <p class="recipes-header__description"><%= t(".description") %></p>
</div>

<% if @recipes_presenter.any? %>
  <div class="recipes-container">
    <% @recipes_presenter.each do |recipe| %>
      <%= render "recipe_card", recipe: recipe %>
    <% end %>
  </div>
  <% if @recipes_presenter.page > 1 || @recipes_presenter.has_more? %>
    <div class="pagination">
      <% if @recipes_presenter.page > 1 %>
        <%= link_to t(".previous_page"), recipes_path(page: @recipes_presenter.page - 1), class: "btn" %>
      <% end %>

      <% if @recipes_presenter.has_more? %>
        <%= link_to t(".next_page"), recipes_path(page: @recipes_presenter.page + 1), class: "btn" %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="empty-state">
    <p><%= t(".no_recipes") %></p>
    <%= link_to t(".back_to_pantry"), pantry_items_path, class: "btn" %>
  </div>
<% end %>
